.alineText {
    text-align: center;
    margin-bottom: 20px;
}
.textFavorit {
    text-align: center;
    color: blue;
    font-size: larger;
    font-style:italic;
}
.mainFavorit {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}
audio {
    width: 200px;
    background-color: blue;
}
.cardFavorit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: auto;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  }

  .imagemFavorit {
    width: 100px;
    height: auto;
}

.buttonFavorit{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 10px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    /* font-family: monospace; */
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
  
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  .buttonFavorit:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  .buttonFavorit svg {
    
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 10px;
    left: 22px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  .buttonFavorit:hover .empty {
    opacity: 0;
  }
  
  .buttonFavorit:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }